extends layout

block content
  if isLoggedIn
    p
      | Logged in as: #{userName}
      a(href="/logout").logout
        | logout
  else
    a(href="/auth/twitter")#twitter
      img(src="/images/sign-in-with-twitter-link.png")
  h1 Find your people!
  p  see whats happenin' tonight!
  form(method="POST" onsubmit="submitForm(event, this)")
    input(type="text" placeholder="Destination" id="query" required)
    input(type="submit" name="search" value="search")

  #loadingIcon
    div
    div.bottomRight
  ul#barList
    
  script.
    var previousResults = JSON.parse( localStorage.getItem('results') )
    if( previousResults ){
      buildResponseList( previousResults )
    }

    function buildResponseList(data){
      localStorage.setItem('results', JSON.stringify( data ) )
      var barList = document.getElementById('barList');
      var list = data.map( (item) => {
        var html = `<li style="background-image: url(${item.photos[0]})">
        <div class="name">${item.name}</div>
        <div class="location">${item.location.formatted_address}</div>
        <div class="url"><a href="${item.url}">More info...</a></div>
        <br>
        <div class="review">${item.reviews.text}</div>
        <br>
        <div class="rsvp"><a href=""># GOING</a></div>
        </li>`;
        return html;
      })
      barList.innerHTML = list.join("");
    }

    function submitForm(e, form){
      e.preventDefault();
      document.getElementById("loadingIcon").style.display = "block";
      fetch( '#{SITE_URL}search/' + document.getElementById("query").value, {
        method: 'get',
      }).then(function(response) {
        return response.json();
      }).then(function(data) {
        document.getElementById("loadingIcon").style.display = "none";
        buildResponseList(data);
      }).catch(function(err) {
        console.log(err)
      });
    }
